@{
    ViewBag.Title = "Index";
}

@if (@ViewBag.flagvalue)
{
    <p> @ViewBag.Name</p>
    <p> @ViewBag.Name2</p>
    <p> @ViewBag.Name3</p>
    <p> @ViewBag.Name4</p>
}


@using (Html.BeginForm("Index", "ImpMulti", FormMethod.Post))
{
    <input type="text" name="FText" />
    <input type="submit" value="Add" name="btn1" />
    <br />
    <br />
    <input type="text" name="SText" />
    <input type="submit" value="Add" name="btn2" />
    <br />
    <br />
    <input type="text" name="ThText" />
    <input type="submit" value="Add" name="btn3" />
    <br />
    <br />
    <input type="text" name="FoText" />
    <input type="submit" value="Add" name="btn" />
    <br />
    <br />
    <input type="submit" value="Create Story" name="create" />

}
